<body></body>
<div style="text-align: center">
<br />
<label>Task Name : </label><input #taskName /> <br /><br />
<label>Assign Task to :</label>
<select #selectedUid>
    <option *ngFor="let object of userlist">{{object.user}}</option>
<!--{{user.tasks}} works-->
</select><br /><br />
<label>Reminder Time</label> <input type="datetime-local" #time/>
<br /><br />
    <button (click)="addtask(taskName.value, selectedUid.value); taskName.value=''; selectedUid.value=''">Submit</button>
</div>

<div *ngIf="assignMsg">
    <h1>{{assignMsg.message}}</h1>
</div>

<!--Testing Login Page Html-->
<login></login>

<br />
<hr />

<!--<hero-search></hero-search>-->
