<hr />
<br />
<div style="font-family:montserrat; padding-left:10%;">
  
  <h2>User Details :</h2>
  <label> Select User = </label>
  <select [(ngModel)]="selectedUser" (ngModelChange)="getSingleUserDetail(selectedUser);" >
    <option *ngFor="let object of userlist" [ngValue] = "object"  >{{object.name}}</option>
<!--{{user.tasks}} works-->
</select><br /><br />

  <!--Displaying Search Results-->
  <div *ngIf="userExists">
      
    <label>Id : </label> {{selectedUser.id}} &nbsp;&nbsp;
    <label>Name : </label> {{selectedUser.name}} <br /><br />
    <label>Task List : </label> <br />
    <ul *ngFor="let task of user[0]">
      <li>Task Id: {{task.task_id}}</li>
      <li>Title : {{task.title}}</li>
      
      
    </ul>
        
  </div>
</div>