<hr />
<br />
<div style="font-family:montserrat; padding-left:10%;">
  
  <h2>User Details :</h2>
  <label> Select User = </label>

<person-selector (personSelectedEmit)="handleUserUpdated($event)"></person-selector>

  <!--Displaying Search Results-->
  <div *ngIf="userExists">
      
  <label>Id : </label> {{selectedUid}} &nbsp;&nbsp;
    <label>Name : </label> {{selectedName}} <br /><br />
    <label>Task List : </label> <br />
  
    <ul *ngFor="let task of person">
      <li>Task Id: {{task.id}}</li>
      <li>Title : {{task.title}}</li>
      
      
    </ul>
        
  </div>
  <br /><br /><br /><br /><br />
</div>