<hr />
<h2 style="font-family: montserrat">All Tasks</h2>

<ul style="font-family: montserrat">
  
  <li *ngFor="let t of heroes">
<!--
    <span class="badge">Id : {{hero.id}}</span> &nbsp; Name: {{hero.person}} <br />
     Tasks :- {{hero.title}} -->


    <span class="badge">Id : {{t.id}}</span> &nbsp; Name: {{t.person}} Tasks = {{t.title}} <br />
     <!--Tasks :- {{hero.title}} -->
     
     <!--<span *ngFor="let he of hero.task"> {{he.tname}}, </span>-->

    <!--<button class="delete"
  (click)="delete(hero); $event.stopPropagation()">x</button><br /><br />-->

  </li>
</ul>


<!--<div>
  <label>Task name:</label> <input #taskName />
  <label>Hero name:</label> <input #userName />
  <label>Id:</label> <input #userId />
  <button (click)="addName(userName.value,taskName.value,userId.value); userName.value='';taskName.value='';userId.value='';">
    Add
  </button>
</div>-->

<hero-search></hero-search>
