<div style="text-align:center;">
<h2>SyncOps Login/Register Page</h2>

<label>Username : </label> <input #username  /> <br /> <br />
<label>Password : </label> <input #password type="password" /><br /><br />
<button (click)="loginFunc(username.value,password.value);">Login</button>

<br /><br />

<h2>New User? Register below</h2>

<label>Username : </label> <input #username  /> <br /> <br />
<label>Password : </label> <input #password type="password" /><br /><br />
<button (click)="registerFunc(username.value,password.value);">Register</button>
</div>